<div class="main-container" *ngIf="!showEdit">
    <nz-button-group>
      <button nz-button class="buttons" nzType="default" (click)="AddNewCofee()" >
        Add new Cofee
      </button>
    </nz-button-group>

    <div class="example-input">
      <input
        placeholder='Search Cofee by name'
        nz-input
        [(ngModel)]="inputValue"
        (ngModelChange)="onChange($event)"
        [nzAutocomplete]="auto"
      />
      <nz-autocomplete [nzDataSource]="filteredOptions" #auto></nz-autocomplete>
    </div>


    <nz-table
      #filterTable
      [nzData]="cofees"
      [nzShowPagination]="filterTable.data && !isLoading"

    >
    <thead>
      <tr>
        <th
          *ngFor="let column of listOfColumns"
          [nzSortOrder]="column.sortOrder"
          [nzSortFn]="column.sortFn"
          [nzSortDirections]="column.sortDirections"
        >
          {{ column.name }}
        </th>
      </tr>
    </thead>
      <tbody *ngIf="filterTable.data && !isLoading" >
        <tr *ngFor="let data of filterTable.data" >

          <td (click)="cofeeInformationModal(data.id)">
            <img [src]="data.image_url" alt="Cofee" class="cofee-picture" />
          <td (click)="cofeeInformationModal(data.id)">{{ data.name }}</td>
          <td (click)="cofeeInformationModal(data.id)">{{ data.description }}</td>
          <td (click)="cofeeInformationModal(data.id)">{{ data.region }}</td>
          <td (click)="cofeeInformationModal(data.id)">{{ data.price }}</td>

          <td >
            <div (click)="deleteCofee(data.id)" class="delete-cofee">
              <span nz-icon nzType="delete" nzTheme="fill"></span>
            </div>

            <div (click)="editCofee(data.id)" class="edit-cofee">
              <span nz-icon nzType="edit" nzTheme="fill"></span>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div *ngIf="isLoading" id="spinner">
      <nz-spin [nzSize]="'large'" nzSimple></nz-spin>
    </div>
  </div>

  <div class="edit-container" *ngIf="showEdit">
    <app-edit-table [cofee]="cofeeToEdit" [isNew]="isNew" (close)="hideEditTable()" (add)="OnAddCofee($event)" (save)="OnEditCofee($event)" ></app-edit-table>
  </div>

  <div class="cofee-information-container" *ngIf="isModalVisible">
    <app-cofee-information [cofee]="cofeeToEdit" (close)="hideCofeeInformationModal()"></app-cofee-information>
  </div>
