<div id="register-page">
    <h1>Registration Page</h1>
  
    <!-- First Name input -->
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" [(ngModel)]="firstName" placeholder="Enter your first name" required>
    </div>
  
    <!-- Last Name input -->
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" [(ngModel)]="lastName" placeholder="Enter your last name" required>
    </div>
  
    <!-- Email input -->
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" placeholder="Enter your email" required>
    </div>
  
    <!-- Password input -->
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" placeholder="Enter your password" required>
    </div>
  
    <!-- Confirm Password input -->
    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" placeholder="Confirm your password" required>
    </div>
  
    <!-- Register button -->
    <button class="button success" (click)="onSubmit()">Register</button>
  </div>
  